*{
    margin:0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    line-height: 2.0;
    font-family: sans-serif;
    font-size: 17px;
    /* display: flex;  Ativa o Flexbox */
    /* flex-direction: column; Organiza os elementos em coluna */
}

header{
    background-color: rgb(5, 59, 81);
    color:white;  
}

h1{
    text-align: center;
}

main {
    flex: 1;
}

section {
    margin: 2% 4%;
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center;   /* Alinha verticalmente */
    gap: 40px;  /* Espaço entre texto e imagem */
}

/* Rodapé mantido no final da página */
footer {
    margin-top: auto;  /* Empurra o rodapé para baixo */
    text-align: center;
    width: 100%;
    background-color: rgb(5, 49, 66);
    line-height: 2.0;
}

/*  java script  */
#tema{
    background: none;
    border: none;

    font-size: 30px;
    cursor: pointer;
}

.claro{
    background-color: white;
    color: black;
}
